<li>
<div class="side-video-with-description" (click)="onSelected()">
                        <div class="aside_bottom_video_details thin_text">
                            <ul>
                                <li>{{video.name}}</li>
                                <li>{{video.concert_date}}</li>
                                <li>{{video.number_of_views}} views</li>
                            </ul>
                        </div>
                        <iframe [src]="videoURL()"
                              class="aside_bottom_video"></iframe>
                
                    <div class="aside_bottom_video_name">{{video.song}}</div>
                        </div>
 </li>                   