
<div class="side-video-with-description">
                        <div class="aside_bottom_video_details thin_text">
                            <ul>
                                <li>{{video.name}}</li>
                                <li>{{video.concert_date}}</li>
                                <li>{{video.number_of_views}}</li>
                            </ul>
                        </div>
                        <iframe src="{{video.embedded}}"
                              class="aside_bottom_video"></iframe>
                    </div>
                    <div class="aside_bottom_video_name">song- nice</div>