.side-video-with-description{
    position:relative;
    margin-bottom: 100px;
 }
  .aside_bottom_video_details{
    
    top: 74px;
    right: 364px;
    height: 100px;
    width: initial;
    float: right;
    display: inline;
 }
.aside_bottom_video_details ul{
    list-style-type: none;
    direction: ltr;
     width: 194px;
 }
.aside_bottom_video_details li:nth-child(2){
    color:black;
 }
 .thin_text{
    font-size: 27px;
    font-family: LetterGothicStd;
   color:#682954;

 }
 .aside_bottom_video{
  display: block;
    height: 195px;
    width: 270px;
    border: none;
   position: relative;
    margin-left: 140px;
    display: inline;
 }
  .aside_bottom_video_name{
    position:absolute;
    width: initial;
    height: 36px;
    background-color: black;
    font-family: LetterGothicStd;
    font-size: 27px;
    color: white;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 4px;

    z-index: 9999;
    right: 196px;
    top: 193px;
 }