<script>
 $(function(){
    var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
});

var player;

function onYouTubePlayerAPIReady() {
    console.log("onYouTubePlayerAPIReady");
 // create the global player from the specific iframe (#video)
  player = new YT.Player('video', {
    events: {
      // call this function when player is ready to use
      'onReady': onPlayerReady
    }
  });
}
var is_playing=false;
function onPlayerReady(event) {
  
  // bind events
  var playButton = document.getElementById("play-button");

  playButton.addEventListener("click", function() {
    if(!is_playing)
    {
            player.playVideo();
            is_playing=true;
            $(playButton).removeClass("play");
            $(playButton).addClass("pause");
           
    }
    else
    {
        player.pauseVideo();
        is_playing=false;
        $(playButton).removeClass("pause");
        $(playButton).addClass("play");
    }

  });
  
}
</script>
 <main>
        <div class="name_main_video">{{main_video.name}}</div>
        <div class="number_of_views thin_text"><span>{{main_video.number_of_views}}</span> views</div>

        <iframe id="video" class="main_video" allowfullscreen
          [src]="videoURL()" >
        </iframe>
        <div class="live"></div>
        <div class="video_buttons_background">
            <div class="play all_buttons_player" id="play-button"></div>
            <div class="next all_buttons_player"></div>
            <div class="volume_button all_buttons_player"></div>
            <div class="volume_line"></div>

        </div>
        <div class="thin_text date">{{main_video.concert_date}}</div>
        <div class="share_on">share on:</div>
        <div class="logos_collection">
            <div class="facebook all_logos"></div>
            <div class="skype all_logos"></div>
            <div class="google all_logos"></div>
             <div class="tweeter all_logos"></div>
            <div class="reddit all_logos"></div>
            <div class="blooger all_logos"></div>
             <div class="tumblr all_logos"></div>
            <div class="insta all_logos"></div>
            <div class="pinterest all_logos"></div>
             <div class="linkedin all_logos"></div>
            
        </div>
        <div class="line_under_main_video"></div>
        <div class="comments"></div>
    </main>