
 <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
   <label> Video name: </label><input name="video_name" ngModel required #first="ngModel">

   <label class="upload_text"> Band name: </label><input  name="band_name" ngModel>
   <label> Song name:</label> <input  name="song_name" ngModel>
   <label> Consert name:</label><input  name="concert_name" ngModel> 
   <label> Consert date:</label><input name="concert_date" ngModel>
   <label> Concert city:</label><input  name="concert_city" ngModel>
   <label> Url:</label><input  name="url" ngModel >
   <div class="form_upload_button"> <a>Submit</a></div>
</form>
 
