<div class="alert-danger"  role="alert"><strong>{{alert_type}}</strong></div>
 <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
   <label> Video name: </label><input name="name" ngModel required #first="ngModel">

   <label class="upload_text"> Band name: </label><input  name="band" ngModel required>
   <label> Song name:</label> <input  name="song" ngModel required>
   <label> Consert name:</label><input  name="concert_name" ngModel required> 
   <label> Consert date:</label><input name="concert_date" ngModel required>
   <label> Concert city:</label><input  name="location" ngModel required>
   <label> Url:</label><input  name="embedded" ngModel required>
   <!--<div class="form_upload_button"> <a>Submit</a></div>-->
   <button class="form_upload_button" [disabled]="!f.valid">Submit</button>

</form>

